@charset "UTF-8";
/** Core Systems Styles **/
:root {
    --cs-color-main-primary-light: #151515;
    --cs-color-accent-primary-light: #103ccc;
}

/** GLOBAL **/
body {
    padding-top: 10vh; /*добавляет отступ от фиксированной шапки*/
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/** HEADER **/
/* Container */
.navbar {
    padding: 15px 0;
    /* background-color: #fff; */
}
/* Brand */

.navbar-brand svg {
    width: 50px;
    height: 50px;
}
.brand-logo-circle {
    fill: var(--cs-color-main-primary-light);
    cx: calc(25px);
}
.brand-name {
    color: var(--cs-color-main-primary-light);
    font-family: 'Montserrat', sans-serif;
}
.brand-name-core {
    margin-top: 10px;
    font-size: 1.1em;
    line-height: 0.7;
    font-weight: 700;
}
.brand-name-unit {
    font-size: 0.62em;
    text-align: center;
    font-weight: 600;
    color: var(--cs-color-accent-primary-light);
}

/* Navigation */
.nav .nav-item:hover {
    color: var(--cs-color-accent-primary-light);
}
.nav .nav-link {
    color: var(--cs-color-main-primary-light);
    font-weight: 600;
}

/* Canvas */
.nav-hidden { /* контейнер бургера */
    margin-right: 15px;
}
button.navbar-toggler { /* бургер */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    padding: 0;
    cursor: pointer;
}
button.navbar-toggler div { /* полоски бургера */
    width: 30px;
    height: 2px;
    background-color: var(--cs-color-main-primary-light);
}

#navbarContent {
    justify-content: space-between;
    width: 20rem;
    height: 100%;
    background-color: #fff;
    padding: 20px 5px;
}
#navbarContent>div {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#navbarContent .row {
    padding: 0 12px;
}
.canvas-brand {
    width: auto;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}
.canvas-brand svg {
    width: 50px;
    height: 50px;
}
.offcanvas-header {
    align-items: flex-start;
}
div.menu-content {
    height: 30rem;
    text-align: center;
    text-decoration: none;

}
div.menu-content ul {
    list-style-type: none;
}
.offcanvas-body .nav-item {
    margin-bottom: 10px;
}
footer.row {
    text-align: center;
}


/** MAIN **/
/* Home Page */


/*** MEDIA QUERIES ***/
/******** Large Devices ********/
@media (min-width: 1200px) {
    /** HEADER **/
    .nav-hidden {
        display: none;
    }
}
/******** Medium Devices ********/
@media (min-width: 992px) and (max-width: 1199px) {
    /** HEADER **/
    .nav-hidden {
        display: none;
    }
}
/******** Small Devices ********/
@media (min-width: 768px) and (max-width: 991px) {
    /** HEADER **/
    .nav-hidden {
        display: none;
    }
}
/******** XSmall Devices ********/
@media (min-width: 480px) and (max-width: 767px) {
    /** HEADER **/
    ul.nav {
        display: none;
    }
}
/******** USmall Devices ********/
@media (max-width: 479px) {
    /** HEADER **/
    ul.nav {
        display: none;
    }
}